<!doctype html>
<html lang="fr" data-ng-app="scriptApp">
    <head>
        <meta charset="UTF-8">
        <title>Exercice 7</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
        <script src="script.js"></script>
    </head>
<body data-ng-controller="increControl">
  <button type="button" data-ng-click="plus">+</button>
  <p>{{count}}</p>
  <button type="button" data-ng-click="moins()">-</button>
</body>
</html>
